@using Master.Web.Components
@inherits Master.Web.Components.MasterRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Master.Web.Core
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
}
@section styles
    {
    <link href="/assets/layuiadmin/lib/extend/flow/GooFlow.css" rel="stylesheet" />
}
<form class="layui-form " action="" id="formEdit">
    <div class="layui-tab layui-tab-brief" lay-filter="tab" style="margin: 0px">
        <ul class="layui-tab-title">
            <li class="layui-this">@L("表单信息")</li>
            <li>@L("流程信息")</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src="" id="formFrame" frameborder="0" style="width:90%;margin:0 auto"></iframe>
            </div>
            <div class="layui-tab-item">
                <div id="flowPanel"></div>
            </div>

        </div>
    </div>
</form>

@section scripts{
    <script>
        //layui加载完成后调用此方法，
        var tree;
        config.ready = function () {
            layui.config({
                base: '/assets/layuiadmin/lib/extend/'
            }).use(['flow/gooflow', 'flow/flowlayout'], function () {
                var id = $.getUrlParam("data");   //ID
                var flowDesignPanel;

                func.runAsync(abp.services.workflow.flowInstance.get(id).done(function (data) {
                    if (data.schemeContent) {
                        var schemeContent = JSON.parse(data.schemeContent);
                        flowDesignPanel = $('#flowPanel').flowdesign({
                            haveTool: false
                            , isprocessing: true
                            , activityId: data.activityId
                            , nodeData: schemeContent.nodes
                            , flowcontent: schemeContent
                        });
                    }
                    
                }))

                $("#formFrame").attr("src", "/FlowForm/InstanceView?data=" + id);
                //$.getJSON('/FlowInstances/get?id=' + id,
                //    function (data) {
                //        var obj = data.Result;
                //        var schemeContent = JSON.parse(obj.SchemeContent);
                //        flowDesignPanel = $('#flowPanel').flowdesign({
                //            haveTool: false
                //            , isprocessing: true
                //            , activityId: obj.ActivityId
                //            , nodeData: schemeContent.nodes
                //            , flowcontent: schemeContent
                //        });

                //        $(".GooFlow_work").slimScroll({
                //            height: 'auto'
                //        });
                //        $("#frmPreview").html(data.Result.FrmPreviewHtml);
                //        flowDesignPanel.reinitSize($(window).width() - 30, $(window).height() - 120);
                //    });
            });

        }
    </script>
}