
<script>
    Vue.component('lay-materialtypechoose', {
        template: '#layMaterialTypeChoose',
        props: ['columnInfo', 'value'],
        data: function () {
            return {
                options: [],
                value1:this.value
            }
        },
        mounted: function () {
            var that = this;
            abp.services.app.baseTree.getTreeJson('MaterialType', null, 1).done(function (res) {
                that.options = res.map(function (o) { return { label: o.displayName, value: o.id.toString() } });
                console.log(that.options);
            })
            //this.$nextTick(function () {
            //    $('div[cytype="dropDownTool"]').dropDownTool();
            //})

        }
    });
</script>
<script type="text/x-template" id="layMaterialTypeChoose">
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">{{columnInfo.ColumnName}}</label>
        <div class="layui-input-block">
            <el-select v-model="value1" filterable placeholder="请选择分类">
                <el-option v-for="item in options"
                           :key="item.value"
                           :label="item.label"
                           :value="item.value">
                </el-option>
            </el-select>
            <input type="hidden" :name="columnInfo.ColumnKey" :id="columnInfo.ColumnKey" :lay-verify="columnInfo.VerifyRules" autocomplete="off" :value="value1" :tips="columnInfo.Tips">
            @*<div cyType="dropDownTool" cyProps="url:'/api/services/app/baseTree/GetTreeJson?discriminator=MaterialType',search:'false',checkbox:'false',key_name:'briefName'"
             :name="columnInfo.ColumnKey" :value="value" class="layui-input-inline" style="position:relative">
        </div>*@

        </div>
    </div>
</script>
<script>
    function getStatusHtml(status) {
    var sClass ='layui-bg-blue';
    switch (status) {
        case "待审核":
            sClass = 'layui-bg-orange';
            break;
        case "待发货":
        case "待出库":
            sClass = 'layui-bg-green';
            break;
        case "已发货":
        case "出库完成":
            sClass = 'layui-bg-blue';
            break;
        case "已退货":
        case "已取消":
            sClass = 'layui-bg-gray';
            break;
        case "冲红":
        case "被冲红":
            sClass = '';
            break;
    }
    return '<span class="layui-badge ' + sClass+'">'+status+'</span>';
}
</script>