
<script>
    Vue.component('lay-materialtypechoose', {
        template: '#layMaterialTypeChoose',
        props: ['columnInfo', 'value'],
        mounted: function () {
            this.$nextTick(function () {
                $('div[cytype="dropDownTool"]').dropDownTool();
            })

        }
    });
</script>
<script type="text/x-template" id="layMaterialTypeChoose">
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">{{columnInfo.ColumnName}}</label>
        <div class="layui-input-block">
            <div cyType="dropDownTool" cyProps="url:'/api/services/app/baseTree/GetTreeJson?discriminator=MaterialType',search:'false',checkbox:'false',key_name:'briefName'"
                 :name="columnInfo.ColumnKey" :value="value" class="layui-input-inline" style="position:relative">
            </div>

        </div>
    </div>
</script>