@using Master.Web.Components
@{
	ViewData["Title"] = "Index";
}

<div class="layui-fluid" id="LAY-app-message">
	<div class="layui-card">
		<div class="layui-card-body">

			<div class="LAY-app-message-btns" style="margin-bottom: 10px;">

			</div>
			<table id="treeTable" lay-filter="treeTable"></table>


		</div>
	</div>
</div>

@section scripts{
<script type="text/html" id="toolbar">
	{{#if(d.pId){}}
	<button class="layui-btn layui-btn-primary  layui-btn-xs" dataid="{{d.id}}" type="button" buttonname="编辑" modulekey="" params="{&quot;area&quot;: [&quot;80%&quot;, &quot;80%&quot;]}" lay-event="Edit" confirmmsg="" buttonactiontype="Form" buttonactionurl="/BaseType/Edit" onclick="func.callModuleButtonEvent()">编辑</button>
	{{#}else{}}
	<button class="layui-btn  layui-btn-xs" fornonerow="1" type="button" buttonname="添加" modulekey="" params="{&quot;area&quot;: [&quot;80%&quot;, &quot;80%&quot;]}" lay-event="Add" confirmmsg="" buttonactiontype="Form" buttonactionurl="/BaseType/Add?typeKey={{d.id==1?'StorageInType':'StorageOutType'}}" onclick="func.callModuleButtonEvent()">添加</button>
	{{#}}}
</script>
	<script>
		var searchKeys = {};
		//layui加载完成后调用此方法，
		config.ready = function () {
			layui.use('treeGrid', function () {
				treeGrid = layui.treeGrid;//很重要
				layer = layui.layer;
				ptable = treeGrid.render({
					id: 'treeTable'
					, elem: '#treeTable'
					, url: '/api/services/storage/inouttype/getall'
					, cellMinWidth: 100
					, idField: 'id'//必須字段
					, treeId: 'id'//树形id字段名称
					, treeUpId: 'pId'//树形父id字段名称
					, treeShowName: 'code'//以树形式显示的字段
					, heightRemove: [".dHead", 10]//不计算的高度,表格设定的是固定高度，此项不生效
					, height: 'full-80'
					, isFilter: false
					, iconOpen: true//是否显示图标【默认显示】
					, isOpenDefault: true//节点默认是展开还是折叠【默认展开】
					, loading: true
					, method: 'get'
					, isPage: false
					, cols: [[
						//{ type: 'numbers' }
						//, { type: 'radio' }
						//, { type: 'checkbox', sort: true }
						{ field: 'code', width: 100, title: '编码' }
						, { field: 'name', width: 100, title: '名称' }
						, { field: 'remarks', title: '备注' }
						, {
							width: 100, title: '操作', align: 'center'/*toolbar: '#barDemo'*/
							, templet: '#toolbar'
						}
					]]
					, parseData: function (res) {//数据加载后回调
						return res;
					}
					, onClickRow: function (index, o) {
						console.log(index, o, "单击！");
					}
					, onDblClickRow: function (index, o) {
						console.log(index, o, "双击");
					}
				});
			})

		}
		//当检索窗体提交后会调用此方法
		config.reloadTable = function () {
		}
		config.onTableDone = function () {

		}
		//当编辑或删除或添加表单提交后会调用此方法
		config.refresh = function () {

		}
	</script>
}