@{
	ViewData["Title"] = "tableSelect的用例";
}
<div id="app">
    <div is="lay-tableselect-base" :column-info="info" data="显示值" value="选中值" @@choose="fn($event)"></div>
</div>
@section scripts{
    <script>
        /*参数详解
    columnInfo:[ColumnKey,ColumnName,RelativeDataType,RelativeDataString,ReferenceSearchColumns,ReferenceSearchWhere,ReferenceItemTpl,MaxReferenceNumber]
    ColumnKey：字段名,UnitName,表格id
    ColumnName:显示名称，往来单位
    RelativeDataType:引用来源类型，可选"Module"或"Url",分别表示数据来源为模块或者url请求
    RelativeDataString:请求来源地址，当选择"Module"时，内容为模块Key,如"Unit","User",当选择”Url"时，为接口地址，如"'/api/services/app/ProcessTask/GetPageResult'
    ReferenceSearchColumns:在table中要显示的列信息，当选择”Module"，内容为模块中的列标志以，分隔，如"unitName,unitId",注意首字母小写，当选择"url"时,内容为layuitable的列定义，如"[{"title":"名称","field":"unitName"}]"
    ReferenceSearchWhere:
    ReferenceItemTpl:选中数据的显示字段,"unitName"
    checkedKey:选中数据的valeu字段,默认'id'
    MaxReferenceNumber:最大引用数量，设为1是单选，其余是多选,小于0时不做限制
    value:初始选中值:"1,2"
    data:初始数据，"[{"id:"1","unitName":"a"},{"id:"2","unitName":"b"}]"
    placeholder: '',    input提示内容
    SearchPlaceholder: '搜索企业名称', 搜索框提示内容
    */
        config.ready = function () {

            new Vue({
                el: '#app',
                data: {
                    info: {
                        MaxReferenceNumber: '5',
                        ColumnKey: 'ProcessTask',
                        ReferenceSearchWhere: { where: "1=1 and ProcessTaskStatus=0 and !status.contains(\"inner\") and supplierId = null" },
                        placeholder: '',
                        SearchPlaceholder: '搜索模具编号/零件/工序',
                        RelativeDataType: 'Url',
                        RelativeDataString: '/api/services/app/ProcessTask/GetPageResult',
                        ReferenceItemTpl: 'partName',//选中显示字段的field
                        checkedKey:'partSN',
                        ReferenceSearchColumns: [{ field: "projectSN", title: "模具编号", width: 100 },
                        { field: "partName", title: "零件", width: 80 },
                        { field: "partSN", title: "零件编号", width: 100 },
                        { field: "processTypeName", title: "工序" },
                        { field: "partSpecification", title: "规格", width: 100 },
                        { field: "partNum", title: "数量" },
                        { field: 'quoted', title: '已询价', templet: '#quoted' }
                        ],
                    }
                },
                methods: {
                    fn(data) {
                        console.log(data)
                    }
                }
            })
        }
    </script>
}
