@using Master.Web.Components
@inherits Master.Web.Components.MasterRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Master.Web.Core
@{
    ViewData["Title"] = "Index";
}

<div class="layui-fluid" id="LAY-app-message">
    <div class="layui-card">
        <div class="layui-card-body" >

            <div class="layui-row layui-col-space5">
                <div class="layui-col-xs2">
                    <vc:base-tree param="@(new BaseTreeViewParam() { TreeKey="MaterialType",TreeName="商品品类",EnableAdd=false,EnableEdit=false,EnableDelete=false,EnableSearch=true})"></vc:base-tree>

                </div>
                <div id="app" v-cloak>
                    <div class="layui-col-xs8">
                        <div class="LAY-app-message-btns" style="margin-bottom:10px;">
                            <el-select v-model="currentItem.storeId" placeholder="请选择仓库" size="medium" @@change="currentItem.items=[];config.reloadTable()">
                                <el-option v-for="item in stores"
                                           :key="item.id"
                                           :label="item.name"
                                           :value="item.id">
                                </el-option>
                            </el-select>
                            <label style="color:red">填正数代表报溢，填负数代表报损</label>
                            <button class="layui-btn  layui-btn-sm" style="float:right;margin-right:10px" :class="{'layui-btn-disabled':!currentItem.items.length}" fornonerow="1" buttonname="生成报损报溢单" type="button" confirmmsg="" id="submitBtn" buttonactiontype="Form" buttonactionurl="" onclick="app.doSubmit(this)">生成报损报溢单</button>
                        </div>
                        <table id="Material" lay-filter="Material"></table>
                    </div>
                    <div class="layui-col-xs2">
                        <div>
                            <blockquote class="layui-elem-quote" style="margin-bottom:0px;padding:7px;">报损报溢单预览</blockquote>
                            <table class="layui-table">

                                <thead>
                                    <tr>
                                        <th>品名</th>
                                        <th>数量</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item,index) in currentItem.items">
                                        <td>{{item.name}}</td>
                                        <td>{{item.number}}{{item.measureMentUnit}}</td>
                                        <td><a title="删除" style="cursor: pointer;" @@click="currentItem.items.splice(index,1);config.reloadTable()"><i class="layui-icon layui-icon-delete"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                
            </div>


        </div>
    </div>
</div>

@section scripts{
    <script type="text/html" id="editTpl">
        <div info="">
            <input type="number" style="width:50px" id="edit_{{d.id}}" onblur="app.updateInfo({ id: {{ d.id }}, number:this.value,name:'{{d.name}}',measureMentUnit:'{{d.measureMentUnit}}'})" />
        </div>
        
    </script>
    <script>
        var searchKeys = {};
        var app;
		//layui加载完成后调用此方法，
		config.ready = function () {
			var element = layui.element;
            var table = layui.table;
            
            app = new Vue({
                el: '#app',
                data: {
                    stores:[],
                    currentItem: {
                        items: [],
                        storeId:null
                    }
                },
                methods: {
                    updateInfo: function (info) {
                        if (!info.number || isNaN(info.number)) { info.number = 0; }
                        info.number = parseFloat(info.number);
                        info.storeNumber = (layui.table.cache.Material.filter(function (o) { return o.id == info.id })[0].storeCount.filter(function (o) { return o.storeId == app.currentItem.storeId })[0] || {number:0}).number;
                        console.log(info);
                        var existInfo = this.currentItem.items.filter(function (o) { return o.id == info.id })[0];
                        //等于0直接移除
                        if (info.number == 0) {
                            existInfo && this.currentItem.items.splice(this.currentItem.items.indexOf(existInfo), 1);
                            return;
                        }

                        if (existInfo) {
                            existInfo.number = info.number;
                        } else {
                            this.currentItem.items.push(info);
                        }
                    },
                    doSubmit: function (obj) {
                        if (!this.currentItem.items.length) {
                            return;
                        }
                        var that = this;
                        for (var i = 0; i < this.currentItem.items.length; i++) {
                            var item = this.currentItem.items[0];
                            if ((item.storeNumber + item.number) < 0) {
                                abp.message.error("商品" + item.name + "报损溢后库存数量小于0");
                                return false;
                            }
                        }
                        var data = {
                            storeId: this.currentItem.storeId,
                            items: this.currentItem.items.map(function (o) {
                                return { id: o.id, number: o.number };
                            })
                        };
                        $(obj).attr("buttonactionurl", '/FlowForm/InputByFormKey?formKey=ICH&data=' + encodeURIComponent(JSON.stringify(data)));
                        func.callModuleButtonEvent($(obj));
                    }
                },
                mounted: function () {
                    var that = this;
                    abp.services.app.store.getAllStores().done(function (data) {
                        that.stores = data;
                    })
                    table.render({
                        elem: '#Material',
                        autoSort: false,
                        toolbar: false,
                        //cellMinWidth: '60',
                        height: 'full-70',
                        url: '/api/services/app/Material/GetPageResult',
                        where: getWhere(),
                        page: true,

                        id: 'Material',
                        even: true,
                        cols: [[
                            { field: 'name', title: '品名' },
                            { field: 'specification', title: '规格' },
                            { field: 'price', title: '零售价' },
                            { field: 'remarks', title: '备注' },
                            {
                                field: 'storeCount', title: '当前库存', templet: function (d) {
                                    var storeInfo = d.storeCount.filter(function (o) { return o.storeId == app.currentItem.storeId })[0];
                                    if (storeInfo) {
                                        return storeInfo.number;
                                    } else {
                                        return 0;
                                    }
                                }
                            },
                            { field: '', title: '报损/报溢数量', templet: '#editTpl' },
                            { field: 'measureMentUnit', title: '计量单位' },
                        ]],

                        done: function () {
                        
                            config.onTableDone();
                        }
                    });
                }
            })

			//监听树选中事件
            baseTree.onSelect = function (node) {
				searchKeys.MaterialTypeId = node.id;
				config.reloadTable();
			}
		}
		//当检索窗体提交后会调用此方法
		config.reloadTable = function () {
            layui.table.reload('Material', {
				where: getWhere()

			})
		}
        config.onTableDone = function () {
            $.each(app.currentItem.items, function (i, v) {
                $("#edit_" + v.id).val(v.number);
            });
		}
		//当编辑或删除或添加表单提交后会调用此方法
		config.refresh = function () {
            location.reload();
		}
		function getWhere() {
            var where = { searchKeys: JSON.stringify(searchKeys) };
            
            where.where = "1=1 ";
            //where.searchCondition = func.buildSearchCondition('Material');
            if (!(app && app.currentItem && app.currentItem.storeId)) { where.where = "1>2"; }
			return where;

		}
    </script>
}