@using Master.Web.Components
@inherits Master.Web.Components.MasterRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Master.Web.Core
@{
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
    ViewData["Title"] = "单据查看";
}
<style>

    @@media screen and (max-width: 480px) {
        .layui-table {
            word-break: keep-all;
        }
    }
</style>
<script>
    var sheetId = $.getUrlParam("sheetId");
    var _formOption = {
        readonly: true,
        formData:@Html.Raw(ViewBag.FormData),
        mode: "@ViewBag.Mode",
        orderStatus:"@Html.Raw(ViewBag.OrderStatus)",
    };
</script>
<div id="header" v-cloak v-if="sheetId">
    <el-form :inline="true" size="mini">
        <el-form-item label="单号">
            <el-input v-model="sheetInfo.sheetSN" readonly="true"></el-input>
        </el-form-item>
        <el-form-item label="录单日期">
            <el-input v-model="sheetInfo.creationTime" readonly="true"></el-input>
        </el-form-item>
        <el-form-item label="经办人">
            <el-input v-model="sheetInfo.creatorUserName" readonly="true"></el-input>
        </el-form-item>
        @*<el-form-item label="单据性质">
            <el-input v-model="sheetInfo.sheetNatureName" readonly="true"></el-input>
        </el-form-item>*@
        <el-form-item label="单据状态" >
            <el-input v-model="orderStatusName" readonly="true"></el-input>
        </el-form-item>
        <el-form-item label="对应单号" v-if="sheetInfo.sheetNature==1 || sheetInfo.sheetNature==2">
            <el-input v-model="sheetInfo.relSheetSN" readonly="true"></el-input>
        </el-form-item>
        <el-form-item label="冲红原因" v-if="sheetInfo.sheetNature==1 || sheetInfo.sheetNature==2">
            <el-input v-model="sheetInfo.revertReason" readonly="true"></el-input>
        </el-form-item>
    </el-form>
    <div style="text-align:right">
        <button type="button" v-for="(btn,index) in sheetInfo.btns" class="layui-btn " :class="btn.buttonClass" @@click="action(btn)">{{btn.buttonName}}</button>
    </div>
    
    @*<button type="button" class="layui-btn layui-btn-danger" v-if="sheetInfo.sheetNature==0" style="float:right" @@click="revertSheet">冲红</button>*@
    <hr>
</div>
@Html.Raw(ViewBag.FormContent)
<script>
    config.readyFuncs.push(function () {
        window.header = new Vue({
            el: '#header',
            data: {
                sheetInfo: {}
            },
            computed: {
                orderStatusName: function () {
                    if (this.sheetInfo.sheetNature == 1 || this.sheetInfo.sheetNature == 2) {
                        return this.sheetInfo.sheetNatureName;
                    } else {
                        return this.sheetInfo.orderStatus || '正单';
                    }
                }
            },
            methods: {
                revertSheet: function () {
                    abp.message.confirm("确认冲红此单据?", function () {
                        layer.prompt({
                            formType: 2,
                            value: '',
                            title: '请输入冲红原因',
                            //area: ['800px', '350px'] //自定义文本域宽高
                        }, function (value, index, elem) {
                            func.runAsync(abp.services.app.flowSheet.revert(sheetId,value).done(function () {
                                parent.layer.msg("冲红成功");
                                parent.config.reloadTable();
                                parent.layer.closeAll('iframe');
                            }))
                            layer.close(index);
                        });
                    })
                },
                action: function (btn) {
                    var confirmMsg = btn.confirmMsg || '确认提交?';
                    abp.message.confirm(confirmMsg, function () {
                        if (btn.buttonKey == "revert") {
                            layer.prompt({
                                formType: 2,
                                value: '',
                                title: '请输入冲红原因',
                                //area: ['800px', '350px'] //自定义文本域宽高
                            }, function (value, index, elem) {
                                func.runAsync(abp.services.app.flowSheet.revert(sheetId, value).done(function () {
                                    parent.layer.msg("冲红成功");
                                    parent.config.reloadTable();
                                    parent.layer.closeAll('iframe');
                                }))
                                layer.close(index);
                            });
                        } else {
                            func.runAsync(abp.services.app.flowSheet.action({ sheetId: sheetId, actionName: btn.buttonKey, formData: JSON.stringify(getFormData()) }).done(function () {
                                parent.layer.msg("提交成功");
                                parent.config.reloadTable();
                                parent.layer.closeAll('iframe');
                            }))
                        }
                        
                    })
                }
            },
            mounted: function () {
                var that = this;
                if (sheetId) {
                    abp.services.app.flowSheet.getById(sheetId).done(function (data) {
                        that.sheetInfo = data;
                    })
                }

            }
        })
    })
    
</script>