

<button class="layui-btn  layui-btn-sm" style="display:none" fornonerow="1" buttonname="采购退货单" type="button" confirmmsg="" id="submitBtn" buttonactiontype="Form" buttonactionurl="/FlowForm/InputByFormKey?formKey=PRR" onclick="func.callModuleButtonEvent()">采购退货单</button>

@section scripts{
    <script>
        config.ready = function () {
            $("#submitBtn").click();
        }
        config.refresh = function () {
            location.reload();
        }
    </script>
}