
<style>
    .my-autocomplete li {
        line-height: normal;
        padding: 7px;
    }
    .my-autocomplete .name {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .my-autocomplete .addr {
        font-size: 12px;
        color: #b4b4b4;
    }

    .my-autocomplete .highlighted .addr {
        color: #ddd;
    }

</style>
<div id="app" v-cloak>
    <template v-if="_formOption.mode!='print'">
        <div id="normal">
            <el-form :inline="true" size="mini" :disabled="_formOption.readonly" label-width="120px">
                <el-form-item label="往来单位:">
                    <unit-select :unit.sync="currentItem.unitId" :value-isid="true" size="mini" @change="loadUnit" v-if="!_formOption.readonly"></unit-select>
                    <template v-else>
                        {{currentItem.unitInfo.unitName}}
                    </template>
                </el-form-item>
                <el-form-item label="当前结余:">
                    <el-input v-model="currentItem.unitInfo.nowFee" readonly="true" tips="负数代表对方欠我方，正数代表我方欠对方。" v-if="!_formOption.readonly"></el-input>
                    <template v-else>
                        {{currentItem.unitInfo.nowFee}}
                    </template>
                </el-form-item>


            </el-form>
            <el-form :inline="true" size="mini" :disabled="_formOption.readonly" label-width="120px">
                <el-form-item label="收款方式">
                    <el-radio-group v-model="currentItem.payType" v-if="!_formOption.readonly">
                        <el-radio label="0">现金付款</el-radio>
                        <el-radio label="1">转账付款</el-radio>
                        <el-radio label="2">支票付款</el-radio>
                    </el-radio-group>
                    <template v-else>
                        {{payTypeName}}
                    </template>
                </el-form-item>
                <el-form-item label="" style="margin-left:50px" v-if="!_formOption.readonly">
                    <el-switch v-model="currentItem.affectRemain"
                               active-text="影响结余"
                               inactive-text="不影响结余">
                    </el-switch>
                </el-form-item>
                <template v-else>
                    {{currentItem.affectRemain?'影响结余':'不影响结余'}}
                </template>
            </el-form>
            <el-divider></el-divider>
            <el-form ref="form" label-width="120px" :disabled="_formOption.readonly" :inline="_formOption.readonly">
                <el-form-item label="收款公司名称">
                    <el-input v-model="currentItem.companyName" type="text" v-if="!_formOption.readonly"></el-input>
                    <template v-else>
                        {{currentItem.companyName}}
                    </template>
                </el-form-item>
                <el-form-item :label="currentItem.payType=='0'?'现金':'转账'" v-if="currentItem.payType!='2'">
                    <el-input placeholder="" v-model="currentItem.inputedFee" type="number" v-if="!_formOption.readonly" style="width:200px;float:left">
                        <template slot="append">
                            元
                        </template>
                    </el-input>
                    <template v-else>
                        {{currentItem.inputedFee}}元
                    </template>
                    <template v-if="!_formOption.readonly">
                        <el-select v-model="currentItem.accountId" placeholder="请选择账号" size="medium" v-if="currentItem.payType=='1'" style="float:left">
                            <el-option v-for="item in currentItem.accounts"
                                       :key="item.id"
                                       :label="item.name"
                                       :value="item.id">
                            </el-option>
                        </el-select>
                    </template>
                    <template v-else>
                        {{accountName}}
                    </template>

                </el-form-item>
                <template v-if="currentItem.payType==2">
                    <el-form-item label="支票号码:">
                        <el-select v-model="currentItem.checkNumber" placeholder="请选择支票" filterable @change="handleSelect" v-if="!_formOption.readonly">
                            <el-option v-for="item in currentItem.checks"
                                       :key="item.checkNumber"
                                       :label="item.checkNumber"
                                       :value="item.checkNumber">
                                <!--<div class="name">{{ item.checkNumber }}【{{item.checkBank}}】</div>
                        <span class="addr">{{ item.checkFee }}【{{new Date( item.checkDate).pattern('yyyy-MM-dd') }}】</span>-->
                            </el-option>
                        </el-select>
                        <template v-else>
                            {{currentItem.checkNumber}}
                        </template>
                        <!--<el-autocomplete popper-class="my-autocomplete"
                                 value-key="checkNumber"
                                 v-model="currentItem.feeCheckNumber"
                                 @select="handleSelect"
                                 :fetch-suggestions="querySearchAsync"
                                 placeholder="请选择支票">
                    <template slot-scope="{ item }">
                        <div class="name">{{ item.checkNumber }}【{{item.checkBank}}】</div>
                        <span class="addr">{{ item.checkFee }}【{{new Date( item.checkDate).pattern('yyyy-MM-dd') }}】</span>
                    </template>
                </el-autocomplete>-->
                    </el-form-item>
                    <el-form-item label="支票金额:">
                        <el-input v-model="currentItem.feeCheck.checkFee" type="number" readonly="true" v-if="!_formOption.readonly"></el-input>
                        <template v-else>
                            {{currentItem.feeCheck.checkFee}}
                        </template>
                    </el-form-item>
                    <el-form-item label="开票日期:">
                        <el-date-picker v-model="currentItem.feeCheck.checkDate"
                                        type="date" readonly="true" v-if="!_formOption.readonly">
                        </el-date-picker>
                        <template v-else>
                            {{new Date(currentItem.feeCheck.checkDate).pattern('yyyy-MM-dd')}}
                        </template>
                    </el-form-item>
                    <!--<el-form-item label="兑现期限(天):">
                        <el-input v-model="currentItem.feeCheck.checkDaySpan" type="text" readonly="true" v-if="!_formOption.readonly"></el-input>
                        <template v-else>
                            {{currentItem.feeCheck.checkDaySpan}}
                        </template>
                    </el-form-item>-->
                    <el-form-item label="付款公司名称:">
                        <el-input v-model="currentItem.feeCheck.checkCompany" type="text" readonly="true" v-if="!_formOption.readonly"></el-input>
                        <template v-else>
                            {{currentItem.feeCheck.checkCompany}}
                        </template>
                    </el-form-item>
                    <el-form-item label="银行:">
                        <el-input v-model="currentItem.feeCheck.checkBank" type="text" readonly="true" v-if="!_formOption.readonly"></el-input>
                        <template v-else>
                            {{currentItem.feeCheck.checkBank}}
                        </template>
                    </el-form-item>

                </template>
                <el-form-item label="备注:">
                    <el-input type="textarea" v-model="currentItem.remarks" v-if="!_formOption.readonly"></el-input>
                    <template v-else>
                        {{currentItem.remarks}}
                    </template>
                </el-form-item>
            </el-form>
            <el-divider></el-divider>
            <div>
                <label>本单付款总额（元）：{{totalFee}}</label>
            </div>
        </div>
        
    </template>
    <template >
        <div id="print">
            <p class="content-right">存根联—白色&nbsp; &nbsp; &nbsp; &nbsp; 客户联—红色&nbsp; &nbsp; &nbsp; &nbsp; 记账联—黄色</p>
            <div class="content-left">
                <h1>上海坤昌商务咨询有限公司（付款单）</h1>
                <table id="table2" cellspacing="0">

                    <tr>
                        <td class="tx-c weight-font">付款单号:</td>
                        <td class="tx-l">{{sheetInfo.sheetSN}}</td>
                        <td class="tx-c weight-font">制单日期:</td>
                        <td class="tx-l">{{new Date(sheetInfo.creationTime).pattern('yyyy-MM-dd')}}</td>
                        <td class="tx-c weight-font">经办人:</td>
                        <td class="tx-l">{{sheetInfo.creatorUserName}}</td>
                    </tr>
                    <tr>
                        <td class="tx-c weight-font">收款公司:</td>
                        <td class="tx-l">{{currentItem.unitInfo.unitName}}</td>
                        <td class="tx-c weight-font"></td>
                        <td class="tx-l"></td>
                        <td class="tx-c weight-font"></td>
                        <td class="tx-l"></td>
                    </tr>
                    <tr>
                        <td class="tx-c weight-font">单位名称:</td>
                        <td class="tx-l">{{currentItem.companyName}}</td>
                        <td class="tx-c weight-font">付款总额:</td>
                        <td class="tx-l">{{totalFee}}</td>
                        <td class="tx-c weight-font">付款类型:</td>
                        <td class="tx-l">{{payTypeName}}</td>
                    </tr>
                    <tr v-if="currentItem.payType=='2'">
                        <td class="tx-c weight-font">支票号码:</td>
                        <td class="tx-l">{{currentItem.feeCheck.checkNumber}}</td>
                        <td class="tx-c weight-font">开票日期:</td>
                        <td class="tx-l">{{new Date(currentItem.feeCheck.checkDate).pattern('yyyy-MM-dd')}}</td>
                        <td class="tx-c weight-font"></td>
                        <td class="tx-l"></td>
                    </tr>
                    <tr v-if="currentItem.payType=='2'">
                        <td class="tx-c weight-font">银行:</td>
                        <td class="tx-l">{{currentItem.feeCheck.checkBank}}</td>
                        <td class="tx-c weight-font">付款公司:</td>
                        <td class="tx-l" colspan="3">{{currentItem.feeCheck.checkCompany}}</td>
                    </tr>
                    <tr v-if="currentItem.payType=='1'">
                        <td class="tx-c weight-font">收款账户:</td>
                        <td class="tx-l" colspan="5">{{accountName}}</td>
                    </tr>
                    <tr>
                        <td class="tx-c weight-font">备注:</td>
                        <td class="tx-l" colspan="5">{{currentItem.remarks}}</td>
                    </tr>
                </table>
                <p class="total-wrap weight-font sign">
                    <span style="margin-right:30px;">付款人签名：</span>
                    <span>收款人签名：</span>
                </p>
            </div>

        </div>
    </template>
</div>
<script>
    config.ready = function () {
        app = new Vue({
            el: "#app",
            data: {
                sheetInfo: {},
                currentItem: _formOption.formData ? _formOption.formData.layoutData : {
                    sheetDate: new Date().pattern("yyyy-MM-dd"),
                    inputedFee: 0,
                    payType: '0',
                    affectRemain:false,//是否影响结余
                    unitId: null,
                    unitInfo: { nowFee: 0 },
                    accounts: [],
                    checks:[],
                    accountId:null,
                    remarks: '',
                    checkNumber:'',
                    feeCheck: {
                    }
                },

            },
            computed: {
                checkFeeDate: function () {
                    return new Date(this.currentItem.feeCheck.checkDate).pattern('yyyy-MM-dd');
                },
                totalFee: function () {                    
                    if (this.currentItem.payType == '0' || this.currentItem.payType == '1') {
                        if (!this.currentItem.inputedFee) { return 0;}
                        return parseFloat(this.currentItem.inputedFee).toFixed(2);
                    } else {               
                        if (!this.currentItem.feeCheck.checkFee) { return 0;}
                        return parseFloat(this.currentItem.feeCheck.checkFee).toFixed(2);
                    }
                },
                remainFee: function () {
                    return (parseFloat(this.currentItem.unitInfo.nowFee) - parseFloat(this.totalFee)).toFixed(2);
                },
                payTypeName: function () {
                    if (this.currentItem.payType == '0') {
                        return "现金收款";
                    }
                    if (this.currentItem.payType == '1') {
                        return "转账收款";
                    }
                    if (this.currentItem.payType == '2') {
                        return "支票收款";
                    }
                },
                accountName: function () {
                    var that = this;
                    if (this.currentItem.accountId) {
                        return this.currentItem.accounts.filter(function (o) { return o.id == that.currentItem.accountId })[0].name;
                    }
                }
            },
            methods: {
                handleSelect: function (value) {
                    this.currentItem.feeCheck = this.currentItem.checks.filter(function (o) { return o.checkNumber==value })[0];
                },
                querySearchAsync:function(queryString, cb) {
                    abp.services.app.feeCheck.getAllAvailable().done(function(res) {
                        var results = queryString ? res.filter(function (o) { return o.checkNumber.indexOf(queryString) >= 0 }) : res;
                        cb(results);
                    })
                },
                loadUnit:function() {
                    var that = this;
                    if (this.currentItem.unitId) {
                        //获取往来单位信息
                        func.runAsync(abp.services.app.unit.getById(this.currentItem.unitId).done(function (data) {
                            that.currentItem.unitInfo = data;
                        }))
                    }
                }
            },
            created:function() {
                var that = this;
                if (!_formOption.formData) {
                    //录入模式获取数据                    
                    //获取所有账号
                    abp.services.app.feeAccount.getNormalAccounts().done(function (data) {
                        that.currentItem.accounts = data;
                    })
                    abp.services.app.feeCheck.getAllAvailable().done(function(data) {
                        that.currentItem.checks = data;
                    })
                }
            },
        })
    }

    //模板中必须实现的方法，用于获取表单数据，返回一个对象，如果需要取消提交，可抛出一个异常
    function getFormData() {
        if (!app.currentItem.unitId) {
            throw "请先选择往来单位";
        }
        if (app.totalFee == 0) {
            throw "付款金额不能为0";
        }
        if (app.currentItem.payType == '1' && !app.currentItem.accountId) {
            throw "请选择付款账户";
        }
        if (app.currentItem.payType == '2') {
            if (!app.currentItem.feeCheck.checkNumber) {
                throw "请选择支票";
            }
        }
        var sheetData = {
            header: {
                sheetDate: app.currentItem.sheetDate,
                remarks: app.currentItem.remarks,
                unitId: app.currentItem.unitId,
                accountId: app.currentItem.accountId,
                payType: app.currentItem.payType,
                totalFee: app.totalFee,
                feeCheck: app.currentItem.feeCheck,
                affectRemain: app.currentItem.affectRemain,
                relCompanyName: app.currentItem.companyName||'',
            },
            body: []
        };
        //约定，formData由两部分组成,一为layoutData,即用于表单呈现数据,另一部分是单据数据,用于后台进行数据处理,一般由呈现数据进行处理后得到
        return {
            layoutData: app.currentItem,
            sheetData: sheetData
        };
    }
</script>