
<style>
    .my-autocomplete li {
        line-height: normal;
        padding: 7px;
    }
    .my-autocomplete .name {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .my-autocomplete .addr {
        font-size: 12px;
        color: #b4b4b4;
    }

    .my-autocomplete .highlighted .addr {
        color: #ddd;
    }

</style>
<div id="app" v-cloak>
    <el-form :inline="true" size="mini">
        <el-form-item label="往来单位">
            <unit-select :unit.sync="currentItem.unitId" :value-isid="true" size="mini" @change="loadUnit"></unit-select>
        </el-form-item>
        <el-form-item label="当前结余">
            <el-input v-model="currentItem.unitInfo.nowFee" readonly="true" tips="负数代表对方欠我方，正数代表我方欠对方。"></el-input>
        </el-form-item>
        

    </el-form>
    <el-form :inline="true" size="mini">
        <el-form-item label="收款方式">
            <el-radio-group v-model="currentItem.payType">
                <el-radio label="0">现金付款</el-radio>
                <el-radio label="1">转账付款</el-radio>
                <el-radio label="2">支票付款</el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="" style="margin-left:50px">
            <el-switch v-model="currentItem.affectRemain"
                       active-text="影响结余"
                       inactive-text="不影响结余">
            </el-switch>
        </el-form-item>
    </el-form>
        <el-divider></el-divider>
        <el-form ref="form" label-width="120px">
            <el-form-item label="对方单位名称">
                <el-input v-model="currentItem.companyName" type="text"></el-input>
            </el-form-item>
            <el-form-item :label="currentItem.payType=='0'?'现金':'转账'" v-if="currentItem.payType!='2'">
                <el-col :span="10">
                    <el-input placeholder="" v-model="currentItem.inputedFee">
                        <template slot="append">
                            元
                        </template>
                    </el-input>
                </el-col>
                <el-col :span="10">
                    <el-select v-model="currentItem.accountId" placeholder="请选择账号" size="medium" v-if="currentItem.payType=='1'">
                        <el-option v-for="item in currentItem.accounts"
                                   :key="item.id"
                                   :label="item.name"
                                   :value="item.id">
                        </el-option>
                    </el-select>
                </el-col>

            </el-form-item>
            <template v-if="currentItem.payType==2">
                <el-form-item label="支票号码">
                    <el-autocomplete popper-class="my-autocomplete"
                                     value-key="checkNumber"
                                     v-model="currentItem.feeCheckNumber"
                                     @select="handleSelect"
                                     :fetch-suggestions="querySearchAsync"
                                     placeholder="请选择支票">
                        <template slot-scope="{ item }">
                            <div class="name">{{ item.checkNumber }}【{{item.checkBank}}】</div>
                            <span class="addr">{{ item.checkFee }}【{{new Date( item.checkDate).pattern('yyyy-MM-dd') }}】</span>
                        </template>
                    </el-autocomplete>
                </el-form-item>
                <el-form-item label="支票金额">
                    <el-input v-model="currentItem.feeCheck.checkFee" type="number" readonly="true"></el-input>
                </el-form-item>
                <el-form-item label="开票日期">
                    <el-date-picker type="date" placeholder="选择日期" v-model="currentItem.feeCheck.checkDate" readonly="true"></el-date-picker>
                </el-form-item>
                <el-form-item label="兑现期限(天)">
                    <el-input v-model="currentItem.feeCheck.checkDaySpan" type="text" readonly="true"></el-input>
                </el-form-item>
                <el-form-item label="签发公司">
                    <el-input v-model="currentItem.feeCheck.checkCompany" type="text" readonly="true"></el-input>
                </el-form-item>
                <el-form-item label="银行">
                    <el-input v-model="currentItem.feeCheck.checkBank" type="text" readonly="true"></el-input>
                </el-form-item>

            </template>
            <el-form-item label="备注">
                <el-input type="textarea" v-model="currentItem.remarks"></el-input>
            </el-form-item>
        </el-form>
        <el-divider></el-divider>
        <div>
            <label>本单付款总额（元）：{{totalFee}}</label>
        </div>
</div>
<script>
    config.ready = function () {
        app = new Vue({
            el: "#app",
            data: {
                currentItem: _formOption.formData ? _formOption.formData.layoutData : {
                    sheetDate: new Date().pattern("yyyy-MM-dd"),
                    inputedFee: 0,
                    payType: '0',
                    affectRemain:false,//是否影响结余
                    unitId: null,
                    unitInfo: { nowFee: 0 },
                    accounts: [],
                    accountId:null,
                    remarks: '',
                    feeCheck: {
                    }
                },

            },
            computed: {
                totalFee: function () {
                    if (this.currentItem.payType == '0' || this.currentItem.payType == '1') {
                        return parseFloat(this.currentItem.inputedFee).toFixed(2);
                    } else {                        
                        return parseFloat(this.currentItem.feeCheck.checkFee).toFixed(2);
                    }
                },
                remainFee: function () {
                    return (parseFloat(this.currentItem.unitInfo.nowFee) - parseFloat(this.totalFee)).toFixed(2);
                }
            },
            methods: {
                handleSelect(value) {
                    this.currentItem.feeCheck = value;
                },
                querySearchAsync(queryString, cb) {
                    abp.services.app.feeCheck.getAllAvailable().done(res => {
                        var results = queryString ? res.filter(o => o.checkNumber.indexOf(queryString) >= 0) : res;
                        cb(results);
                    })
                },
                loadUnit() {
                    var that = this;
                    if (this.currentItem.unitId) {
                        //获取往来单位信息
                        func.runAsync(abp.services.app.unit.getById(this.currentItem.unitId).done(function (data) {
                            that.currentItem.unitInfo = data;
                        }))
                    }
                }
            },
            created() {
                var that = this;
                if (!_formOption.formData) {
                    //录入模式获取数据                    
                    //获取所有账号
                    abp.services.app.feeAccount.getNormalAccounts().done(function (data) {
                        that.currentItem.accounts = data;
                    })
                }
            },
            mounted() {
            }
        })
    }

    //模板中必须实现的方法，用于获取表单数据，返回一个对象，如果需要取消提交，可抛出一个异常
    function getFormData() {
        if (!app.currentItem.unitId) {
            throw "请先选择往来单位";
        }
        if (app.totalFee == 0) {
            throw "付款金额不能为0";
        }
        if (app.currentItem.payType == '1' && !app.currentItem.accountId) {
            throw "请选择付款账户";
        }
        if (app.currentItem.payType == '2') {
            if (!app.currentItem.feeCheck.checkNumber) {
                throw "请选择支票";
            }
        }
        var sheetData = {
            header: {
                sheetDate: app.currentItem.sheetDate,
                remarks: app.currentItem.remarks,
                unitId: app.currentItem.unitId,
                accountId: app.currentItem.accountId,
                payType: app.currentItem.payType,
                totalFee: app.totalFee,
                feeCheck: app.currentItem.feeCheck,
                affectRemain: app.currentItem.affectRemain,
            },
            body: []
        };
        //约定，formData由两部分组成,一为layoutData,即用于表单呈现数据,另一部分是单据数据,用于后台进行数据处理,一般由呈现数据进行处理后得到
        return {
            layoutData: app.currentItem,
            sheetData: sheetData
        };
    }
</script>