<style>
    .overlimit{
        color:red;
    }
</style>
<div id="app" v-cloak>
    <el-form :inline="true" size="mini" label-width="120px">
        <el-form-item label="代理商:">
            {{currentItem.unitName}}
            <!--<el-input v-model="currentItem.unitName" readonly="true"></el-input>-->
        </el-form-item>
        <el-form-item label="配送日期:">
            <el-date-picker v-model="currentItem.deliverDate"
                            type="date"
                            placeholder="选择日期" v-if="_formOption.mode!='readonly'">
            </el-date-picker>
            <template v-else>
                {{currentItem.deliverDate?new Date(currentItem.deliverDate).pattern('yyyy-MM-dd'):''}}
            </template>
        </el-form-item>
        <el-form-item label="收货人:">
            <el-input v-model="currentItem.receiver" v-if=" _formOption.mode!='readonly'"></el-input>
            <template v-else>
                {{currentItem.receiver}}
            </template>
        </el-form-item>
        <el-form-item label="收货人电话:">
            <el-input v-model="currentItem.receiverMobile" v-if=" _formOption.mode!='readonly'"></el-input>
            <template v-else>
                {{currentItem.receiverMobile}}
            </template>
        </el-form-item>
    </el-form>
    <el-form ref="form" label-width="120px">
        <el-form-item label="送货地址:">
            <el-input v-model="currentItem.receiverAddress" v-if=" _formOption.mode!='readonly'"></el-input>
            <template v-else>
                {{currentItem.receiverAddress}}
            </template>
        </el-form-item>
        <el-form-item label="备注:">
            <el-input v-model="currentItem.remarks" v-if=" _formOption.mode!='readonly'"></el-input>
            <template v-else>
                {{currentItem.remarks}}
            </template>
        </el-form-item>
        <el-form-item label="发货仓库" v-if=" _formOption.mode!='readonly' && _formOption.isCenter">
            <el-select v-model="currentItem.storeId" placeholder="发货仓库" size="medium" style="width:120px">
                <el-option v-for="item in currentItem.stores"
                           :key="item.id"
                           :label="item.name"
                           :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="退入仓库" v-if="isBack && _formOption.mode!='readonly' && _formOption.isCenter">
            <el-select v-model="currentItem.backStoreId" placeholder="退入仓库" size="medium" style="width:120px">
                <el-option v-for="item in currentItem.stores"
                           :key="item.id"
                           :label="item.name"
                           :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
    </el-form>
    <el-form>
        <table class="layui-table">
            <thead>
                <tr>
                    <th>品名</th>
                    <th>规格</th>
                    <th>零售价</th>
                    <th>备注</th>
                    <th>订购数量</th>
                    <th>计量单位</th>
                    <th>适用区域</th>
                    <template v-if="isSend || true">
                        <th width="120">折扣</th>
                        <th>发货单价</th>
                        <th>小计</th>
                    </template>

                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in currentItem.items">
                    <td>{{item.name}}</td>
                    <td>{{item.specification}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.remarks}}</td>
                    <td>
                        <el-input-number v-model="item.number" size="mini" style="width:100px" v-if="isSend || _formOption.orderStatus=='待审核' "></el-input-number>
                        <template v-else>
                            {{item.number}}
                        </template><!--<span v-if="!item.canSell">库存不足</span>-->
                    </td>
                    <td>{{item.measureMentUnit}}</td>
                    <td>{{item.location}}</td>
                    <template v-if="isSend || true">
                        <td>
                            <el-input-number v-model="item.discount" style="width:100px" :min="0" :max="1" size="mini" :step="0.1" label="折扣" v-if="isSend &&_formOption.mode!='readonly' && _formOption.isCenter"></el-input-number>
                            <template v-else>
                                {{item.discount}}
                            </template>
                        </td>
                        <td>
                            {{(item.price*item.discount).toFixed(2)}}
                        </td>
                        <td>
                            {{numFormat(getSum(item))}}
                        </td>
                    </template>

                </tr>
            </tbody>
        </table>
        <table class="layui-table" v-if="sheetInfo.log">
            <thead>
                <tr>
                    <th>修改日志</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{sheetInfo.log}}</td>
                </tr>
            </tbody>
        </table>
    </el-form>
    <!--v-if="isSend && _formOption.mode!='readonly'"-->
    <el-form :inline="true" size="mini">
        <el-form-item label="货款总额:">
            <el-input :value="numFormat(materialFee)" readonly="true"></el-input>
        </el-form-item>
        <el-form-item label="其它费用:">
            <numberinput :addon="false" v-model="currentItem.otherFee" typeof="number" :readonly="!isSend"></numberinput>
        </el-form-item>
        <el-form-item label="本单应收金额:">
            <el-input :value="numFormat(totalFee)" readonly="true"></el-input>
        </el-form-item>

    </el-form>
    <el-form ref="form" label-width="80px" v-if="isBack && _formOption.mode!='readonly'">
        <el-form-item label="退货原因:">
            <el-input v-model="currentItem.backReason"></el-input>
        </el-form-item>
    </el-form>
    <el-form ref="form" label-width="80px" v-else-if="currentItem.backReason">
        <el-form-item label="退货原因:">
            <el-input v-model="currentItem.backReason" readonly="true"></el-input>
        </el-form-item>
    </el-form>
</div>
<script>
    config.ready = function () {
        app = new Vue({
            el: "#app",
            data: {
                sheetInfo: {},
                columns:[],
                rCount:0,                
                currentItem: _formOption.formData ? _formOption.formData.layoutData : {
                    sheetDate: new Date().pattern("yyyy-MM-dd"),
                    unitName:'',
                    unitId:null,
                    items: [],
                    otherFee: 0,
                    stores: [],
                    storeId: null,
                    backStoreId:null,
                }
            },
            computed: {
                materialFee: function () {
                    var fee = 0;
                    this.currentItem.items.forEach(function (o) { fee += o.price * o.number * o.discount || 0 });
                    return fee.toFixed(2);
                },
                totalFee: function () {
                    return (parseFloat(this.materialFee) + parseFloat(this.currentItem.otherFee)).toFixed(2);
                },
                //是否需要发货状态
                isSend: function () {
                    return _formOption.orderStatus == '待发货';
                },
                //是否可以退货状态
                isBack: function () {
                    return _formOption.orderStatus == "已发货";
                }
            },
            methods: {
                getSum:function(item) {
                    if (!item.number) {
                        return '';
                    } else {
                        return (item.number * item.price * item.discount).toFixed(2);
                    }
                },
            },
            mounted: function () {
                this.currentItem.items.forEach(function (o) { o.oriNumber = o.number; });
            },
            created:function() {
                var that = this;
                if (!_formOption.formData) {
                    var that = this;
                    //录入模式获取数据
                    var params = JSON.parse( $.getUrlParam("params"));
                    this.currentItem.unitId = params.unitId;
                    //仓库信息
                    abp.services.app.store.getAllStores().done(function (data) {
                        that.currentItem.stores = data;
                    })
                    //代理商信息
                    abp.services.app.unit.getById(params.unitId).done(function (data) { that.currentItem.unitName = data.unitName });
                    //商品信息
                    func.runAsync(abp.services.app.materialSell.getCartInfo(this.currentItem.unitId, 1).done(function (data) {
                        console.log(data);
                        that.currentItem.items = data;
                        that.currentItem.items.forEach(function (o) { o.oriNumber = o.number; });
                    }))
                }
            },
        })
    }

    //模板中必须实现的方法，用于获取表单数据，返回一个对象，如果需要取消提交，可抛出一个异常
    function getFormData() {
        var data = app.currentItem.items;
        if (!data.length) {
            throw "请至少录入一条数据";
        }
        if (!_formOption.readonly && data.filter(function (o) { return !o.canSell }).length > 0) {
            throw "库存不足，无法提交";
        }
        var sheetData = {
            header: {
                sheetDate: app.currentItem.sheetDate,
                unitId: app.currentItem.unitId,
                remarks: app.currentItem.remarks,
                storeId: app.currentItem.storeId,
                backStoreId: app.currentItem.backStoreId,
                backReason: app.currentItem.backReason,
                totalFee: app.totalFee,
                deliverDate: app.currentItem.deliverDate,
                receiver: app.currentItem.receiver,
                receiverMobile: app.currentItem.receiverMobile,
                receiverAddress:app.currentItem.receiverAddress
            },
            body: data
        };
        //约定，formData由两部分组成,一为layoutData,即用于表单呈现数据,另一部分是单据数据,用于后台进行数据处理,一般由呈现数据进行处理后得到
        return {
            layoutData: app.currentItem,
            sheetData: sheetData
        };
    }
    function getAsyncFormData(submitFn) {
        //检测库存
        try {
            var formData = getFormData();

            var param = app.currentItem.items.map(function (o) { return { id: o.id, number: o.number } });
            func.runAsync(abp.services.app.materialSell.checkSellMaterialInfos(param, app.currentItem.unitId).done(function (res) {
                if (res) {
                    abp.message.info('产品"' + res + '"库存数量较少，可能只能部分发货').done(function () {
                        submitFn(formData);
                    })
                } else {
                    submitFn(formData);
                }
                
            }))
        } catch (err) {
            abp.message.error(err.message || err);
            return false;
        }
    }
    function actionCallback(actionName, sheetId) {
        if (actionName == "verify" || actionName=="send") {
            //审核后打开发货页
            //打开查看窗口
            parent.layer.open({
                type: 2,
                title: '单据查看',
                scrollbar: false,
                shadeClose: false,
                shade: 0.8,
                area: ['100%', '100%'],
                content: '/FlowSheet/SheetView?data=' + sheetId,
                btn: [],
                btnAlign: 'l',
                success: function () {
                    parent.layer.close(index);
                }
            })
        } 
        else {
            parent.layer.close(index);
        }
    }
</script>