<div id="app" v-cloak>
    <el-form :inline="true" size="mini" :disabled="_formOption.readonly" label-width="120px">
        <el-form-item label="交货日期">
            <el-date-picker v-model="currentItem.sheetDate" type="date" placeholder="选择交货日期" format="yyyy-MM-dd" value-format="yyyy-MM-dd" v-if="!_formOption.readonly">
            </el-date-picker>
            <template v-else>
                {{currentItem.sheetDate}}
            </template>
        </el-form-item>
        <el-form-item label="存放仓库:">
            {{currentItem.storeName}}
            <!--<el-input v-model="currentItem.storeName" readonly="true"></el-input>-->
        </el-form-item>


    </el-form>
    <el-form :disabled="_formOption.readonly">
        <table class="layui-table">
            <thead>
                <tr>
                    <th>品名</th>
                    <th>规格</th>
                    <th>备注</th>
                    <th>当前库存</th>
                    <th>装配数量</th>
                    <th>计量单位</th>
                    <th v-if="!_formOption.readonly">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in currentItem.items">
                    <td>{{item.name}}</td>
                    <td>{{item.specification}}</td>
                    <td>{{item.remarks}}</td>
                    <td>{{item.storeNumber}}</td>
                    <td><el-input-number v-model="item.number" :min="1" label="装配数量" v-if="!_formOption.readonly"></el-input-number>
                    <template v-else>{{item.number}}</template></td>
                    <td>{{item.measureMentUnit}}</td>
                    <td v-if="!_formOption.readonly"><a title="删除" style="cursor: pointer;" @click="currentItem.items.splice(index,1);"><i class="layui-icon layui-icon-delete"></i></a></td>
                </tr>
            </tbody>
        </table>
    </el-form>
    
    <el-form size="mini" :disabled="_formOption.readonly" label-width="120px">
        <el-form-item label="备注">
            <el-input type="textarea" v-model="currentItem.remarks" v-if="!_formOption.readonly"></el-input>
            <template v-else>
                {{currentItem.remarks}}
            </template>
        </el-form-item>
    </el-form>

</div>
<script>
    config.ready = function () {
        app = new Vue({
            el: "#app",
            data: {
                sheetInfo: {},
                columns: [],
                rCount: 0,
                currentItem: _formOption.formData ? _formOption.formData.layoutData : {
                    sheetDate: new Date().pattern("yyyy-MM-dd"),
                    storeName: '',
                    storeId: null,
                    items: [],
                    remarks: ''
                }

            },
            methods: {
            },
            created:function() {
                var that = this;
                if (!_formOption.formData) {
                    //录入模式获取数据
                    var params = JSON.parse($.getUrlParam("params"));
                    this.currentItem.storeId = params.storeId;
                    //仓库信息
                    abp.services.app.store.getById(params.storeId).done(function (data) { that.currentItem.storeName = data.name });
                    //商品信息
                    func.runAsync(abp.services.app.material.getStoreMaterialInfos(params.storeId, params.items.map(function (o) { return o.id })).done(function (data) {
                        console.log(data);
                        that.currentItem.items = data.map(function (o) {
                            var number = params.items.filter(function (i) { return i.id == o.id })[0].number;
                            return $.extend(o, { number: number });
                        })
                    }))
                }
            },
        })
    }

    //模板中必须实现的方法，用于获取表单数据，返回一个对象，如果需要取消提交，可抛出一个异常
    function getFormData() {
        var data = app.currentItem.items;
        if (!data.length) {
            throw "请至少录入一条数据";
        }
        var sheetData = {
            header: {
                sheetDate: app.currentItem.sheetDate,
                remarks: app.currentItem.remarks,
                storeId: app.currentItem.storeId
            },
            body: data
        };
        //约定，formData由两部分组成,一为layoutData,即用于表单呈现数据,另一部分是单据数据,用于后台进行数据处理,一般由呈现数据进行处理后得到
        return {
            layoutData: app.currentItem,
            sheetData: sheetData
        };
    }
</script>