<style>
    .is-error, .is-error input {
        color: red !important;
    }

    th {
        min-width: 60px;
    }
</style>
<div id="app" v-cloak>
    <template v-if="_formOption.mode!='print'">
        <div id="normal">
            <el-form :inline="true" size="mini" :disabled="_formOption.readonly" label-width="120px">
                <el-form-item label="代理商:">
                    <unit-select nature="0" :unit.sync="currentItem.unitId" :value-isid="true" size="mini" @change="refreshData" v-if="!_formOption.readonly"></unit-select>
                    <template v-else>
                        {{currentItem.unitInfo?currentItem.unitInfo.unitName:''}}
                    </template>
                </el-form-item>
                <el-form-item label="发货仓库:">
                    <el-select v-model="currentItem.storeId" placeholder="发货仓库" size="mini" style="width:120px" v-if="!_formOption.readonly" @change="getStoreNumber">
                        <el-option v-for="item in currentItem.stores"
                                   :key="item.id"
                                   :label="item.name"
                                   :value="item.id">
                        </el-option>
                    </el-select>
                    <template v-else>
                        {{storeName}}
                    </template>
                </el-form-item>
            </el-form>
            <el-divider></el-divider>
            <el-form :disabled="_formOption.readonly">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>订单编号</th>
                            <th style="min-width:80px;">下单时间</th>
                            <th>品名</th>
                            <th>市场单价</th>
                            <th>折扣</th>
                            <th>发货单价</th>
                            <th>订货数量</th>
                            <th>已发数量</th>
                            <th>当前库存</th>
                            <th>本次发货</th>
                            <th>小计</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,index) in currentItem.items">
                            <td>{{item.sheetSN}}</td>
                            <td>{{item.creationTime}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.price}}</td>
                            <td>
                                <el-input-number v-model="item.discount" size="mini" :min="0" :step="0.1" :max="1" label="折扣" style="width:100px" v-if="!_formOption.readonly"></el-input-number>
                                <template v-else>
                                    {{item.discount}}
                                </template>
                            </td>
                            <td>
                                {{(item.price*item.discount).toFixed(2)}}
                            </td>
                            <td>{{item.sellNumber}}</td>
                            <td>{{item.outNumber}}</td>
                            <td :title="getSellMode(item)" :class="{'is-error':isError(item)}">{{item.storeNumber}}</td>
                            <td>
                                <el-input-number v-model="item.number" size="mini" :min="0" :max="item.sellNumber-item.outNumber" label="" style="width:100px" v-if="!_formOption.readonly" :class="{'is-error':isError(item)}"></el-input-number>
                                <template v-else>
                                    {{item.number}}
                                </template>
                            </td>
                            <td>
                                {{getSum(item)}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </el-form>

            <el-form :inline="true" size="mini" :disabled="_formOption.readonly">
                <el-form-item label="货款总额:">
                    <el-input :value="numFormat(materialFee)" readonly="true" v-if="!_formOption.readonly"></el-input>
                    <template v-else>
                        {{numFormat(materialFee)}}
                    </template>
                </el-form-item>
                <el-form-item label="其它费用:">
                    <numberinput v-model="currentItem.otherFee" typeof="number" v-if="!_formOption.readonly" :addon="false"></numberinput>
                    <template v-else>
                        {{numFormat(currentItem.otherFee)}}
                    </template>
                </el-form-item>
                <el-form-item label="本单应收金额:">
                    <el-input :value="numFormat(totalFee)" readonly="true" v-if="!_formOption.readonly"></el-input>
                    <template v-else>
                        {{numFormat(totalFee)}}
                    </template>
                </el-form-item>

            </el-form>
            <el-form size="mini" :disabled="_formOption.readonly">
                <el-form-item label="备注">
                    <el-input type="textarea" v-model="currentItem.remarks" v-if="!_formOption.readonly"></el-input>
                    <template v-else>
                        {{currentItem.remarks}}
                    </template>
                </el-form-item>
            </el-form>
        </div>
        
    </template>
    
    <template >
        <div id="print">
            <p class="content-right">存根联—白色&nbsp; &nbsp; &nbsp; &nbsp; 客户联—红色&nbsp; &nbsp; &nbsp; &nbsp; 记账联—黄色</p>
            <div class="content-left">
                <h1>上海乾封贸易有限公司（出库单）</h1>
                <table id="table1" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="weight-font">出库单号：</td>
                        <td>{{sheetInfo.sheetSN}}</td>
                        <td class="weight-font">制单日期：</td>
                        <td>{{new Date(sheetInfo.creationTime).pattern('yyyy-MM-dd')}}</td>
                        <td class="weight-font">经办人：</td>
                        <td>{{sheetInfo.creatorUserName}}</td>
                    </tr>
                    <tr>
                        <td class="weight-font">客户名称：</td>
                        <td>{{currentItem.unitInfo.unitName}}</td>
                        <td class="weight-font">出库前结余：</td>
                        <td>{{numFormat(currentItem.unitInfo.nowFee)}}</td>
                        <td class="weight-font">出库后结余：</td>
                        <td>{{numFormat(currentItem.unitInfo.nowFee-totalFee)}}</td>
                    </tr>
                    <tr>
                        <td class="weight-font">本单应收：</td>
                        <td>{{numFormat(totalFee)}}</td>
                        <td class="weight-font">备注：</td>
                        <td>{{currentItem.remarks}}</td>
                    </tr>
                </table>
                <table id="table2" cellspacing="0">
                    <tr style="text-align: center;" class="weight-font">
                        <td>品名</td>
                        <td>规格</td>
                        <td>市场单价</td>
                        <td>发货数量</td>
                        <td>计量单位</td>
                        <td>发货单价</td>
                        <td>应收小计</td>
                    </tr>
                    <tr v-for="(item,index) in currentItem.items">
                        <td class="tx-c">{{item.name}}</td>
                        <td class="tx-c">{{item.specification}}</td>
                        <td class="tx-r">{{item.price}}</td>
                        <td class="tx-r">{{item.number}}</td>
                        <td class="tx-c">{{item.measureMentUnit}}</td>
                        <td class="tx-r">{{(item.price*item.discount).toFixed(2)}}</td>
                        <td class="tx-r">{{numFormat(getSum(item))}}</td>
                    </tr>
                </table>
                <p class="total-wrap">
                    <span style="margin-right:30px;">货款总额：{{numFormat(materialFee)}}元</span>
                    <span>其他费用：{{numFormat(currentItem.otherFee)}}元</span>
                </p>
                <p class="total-wrap weight-font sign">
                    <span style="margin-right:30px;">发货人签名：</span>
                    <span>客户签名：</span>
                </p>
            </div>

        </div>
    </template>

</div>
<script>
    config.ready = function () {
        app = new Vue({
            el: "#app",
            data: {
                columns: [],          
                sheetInfo: {},
                currentItem: _formOption.formData ? _formOption.formData.layoutData : {
                    stores: [],
                    unitInfo: {},
                    sheetDate: new Date().pattern("yyyy-MM-dd"),
                    storeName: '',
                    unitName:'',
                    storeId: null,
                    unitId:null,
                    items: [],
                    remarks: '',
                    otherFee:0
                }
            },
            computed: {
                storeName: function () {
                    var that = this;
                    if (!this.currentItem.storeId) {
                        return '';
                    } else {
                        return this.currentItem.stores.filter(function (o) { return o.id == that.currentItem.storeId })[0].name;
                    }
                },
                materialFee: function () {
                    var fee = 0;
                    this.currentItem.items.forEach(function (o) { fee += o.price * o.number * o.discount || 0 });
                    return fee.toFixed(2);
                },
                totalFee: function () {
                    return (parseFloat(this.materialFee) + parseFloat(this.currentItem.otherFee)).toFixed(2);
                }
            },
            methods: {
                isError: function (item) {
                    if (isNaN(item.storeNumber)) { return true;}
                    if (item.sellMode == 1 && item.storeNumber < item.number) {
                        return true;
                    } else {
                        return false;
                    }
                },
                getSellMode: function (item) {
                    switch (item.sellMode) {
                        case 0:
                            return "始终销售";
                        case 1:
                            return "售完为止";
                        case 2:
                            return "停止销售";
                    }
                },
                getSum:function(item) {
                    if (!item.number) {
                        return '';
                    } else {
                        return (item.number * item.price * item.discount).toFixed(2);
                    }
                },
                getStoreNumber: function () {
                    var that = this;
                    if (!this.currentItem.items.length) {
                        return;
                    }
                    //获取库存数量
                    if (!this.currentItem.storeId) {
                        for (var i = 0; i < this.currentItem.items.length; i++) {
                            this.currentItem.items[i].storeNumber = 0;
                        }
                    } else {
                        abp.services.app.material.getStoreMaterialInfos(this.currentItem.storeId, this.currentItem.items.map(function (o) { return o.materialId })).done(function (res) {
                            for (var i = 0; i < res.length; i++) {
                                var matchedItems = that.currentItem.items.filter(function (o) { return o.materialId == res[i].id });
                                matchedItems.forEach(function (o) { o.storeNumber = res[i].storeNumber;})
                                //that.currentItem.items.filter(function (o) { return o.materialId == res[i].id })[0].storeNumber = res[i].storeNumber;
                            }
                            
                        })
                    }
                },
                refreshData:function() {
                    var that = this;
                    this.currentItem.storeId = null;
                    if (!this.currentItem.unitId ) {
                        return;
                    }
                    func.runAsync(abp.services.app.materialSell.getUnitSellMaterialForOut(this.currentItem.unitId).done(function(res) {                        
                        that.currentItem.items = res;
                        that.getStoreNumber();
                    }))
                    //获取往来单位信息
                    func.runAsync(abp.services.app.unit.getById(this.currentItem.unitId).done(function (data) {
                        that.currentItem.unitInfo = data;
                    }))
                },
                isStoreNumberAvailable: function () {
                    var available = true;
                    for (var i =0; i < this.currentItem.items.length; i++) {
                        if (this.isError(this.currentItem.items[i])) {
                            available = false;
                            break;
                        }
                    }
                    return available;
                },
                isNumberSet: function () {
                    var available = true;
                    for (var i =0; i < this.currentItem.items.length; i++) {
                        if (this.currentItem.items[i].number==0) {
                            available = false;
                            break;
                        }
                    }
                    return available;
                }
            },
            created:function() {
                var that = this;
                if (!_formOption.formData) {
                    //录入模式获取数据
                    //仓库信息
                    var that = this;
                    abp.services.app.store.getAllStores().done(function (data) {
                        that.currentItem.stores = data;
                    })
                } else {
                    //移除没有出库的
                    this.currentItem.items = this.currentItem.items.filter(function (o) {
                        return o.number && o.number > 0;
                    })
                }
            },
        })
    }

    //模板中必须实现的方法，用于获取表单数据，返回一个对象，如果需要取消提交，可抛出一个异常
    function getFormData() {
        var data = app.currentItem.items;
        if (!app.currentItem.unitId) {
            throw "请选择代理商";
        }
        if (!app.currentItem.storeId) {
            throw "请选择出货仓库";
        }
        if (!data.length) {
            throw "请至少录入一条数据";
        }
        if (!app.isNumberSet()) {
            throw "出库数量不能为0";
        }
        if (!app.isStoreNumberAvailable()) {
            throw "库存不足,无法提交";
        }
        //app.currentItem.items = app.currentItem.items.filter(o => o.number > 0);
        var sheetData = {
            header: {
                sheetDate: app.currentItem.sheetDate,
                remarks: app.currentItem.remarks,
                unitId: app.currentItem.unitId,
                storeId: app.currentItem.storeId,
                storeName: app.currentItem.stores.filter(function (o) { return o.id == app.currentItem.storeId })[0].name,
                totalFee: app.totalFee
            },
            body: data
        };
        //约定，formData由两部分组成,一为layoutData,即用于表单呈现数据,另一部分是单据数据,用于后台进行数据处理,一般由呈现数据进行处理后得到
        return {
            layoutData: app.currentItem,
            sheetData: sheetData
        };
    }
</script>