<div id="app" v-cloak>
    <el-form :inline="true" size="mini">
        <el-form-item label="代理商">
            <el-input v-model="currentItem.unitName" readonly="true"></el-input>
        </el-form-item>

    </el-form>
    <table class="layui-table">
        <thead>
            <tr>
                <th>品名</th>
                <th>规格</th>
                <th>零售价</th>
                <th>备注</th>
                <th>订购数量</th>
                <th>计量单位</th>
                <th>适用区域</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item,index) in currentItem.items">
                <td>{{item.name}}</td>
                <td>{{item.specification}}</td>
                <td>{{item.price}}</td>
                <td>{{item.remarks}}</td>
                <td>{{item.number}}</td>
                <td>{{item.measureMentUnit}}</td>
                <td>{{item.location}}</td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    config.ready = function () {
        app = new Vue({
            el: "#app",
            data: {
                columns:[],
                rCount:0,                
                currentItem: _formOption.formData ? _formOption.formData.layoutData : {
                    sheetDate: new Date().pattern("yyyy-MM-dd"),
                    unitName:'',
                    unitId:null,
                    items: [],
                }
            },
            methods: {
            },
            created() {
                var that = this;
                if (!_formOption.formData) {
                    //录入模式获取数据
                    var params = JSON.parse( $.getUrlParam("params"));
                    this.currentItem.unitId = params.unitId;
                    //代理商信息
                    abp.services.app.unit.getById(params.unitId).done(data => this.currentItem.unitName = data.unitName);
                    //商品信息
                    func.runAsync(abp.services.app.materialSell.getCartInfo(this.currentItem.unitId, 0).done(function (data) {
                        console.log(data);
                        that.currentItem.items = data;
                    }))
                }
            },
            mounted() {
            }
        })
    }

    //模板中必须实现的方法，用于获取表单数据，返回一个对象，如果需要取消提交，可抛出一个异常
    function getFormData() {
        var data = app.currentItem.items;
        if (!data.length) {
            throw "请至少录入一条数据";
        }
        var sheetData = {
            header: {
                sheetDate: app.currentItem.sheetDate,
                unitId: app.currentItem.unitId,
            },
            body: data
        };
        //约定，formData由两部分组成,一为layoutData,即用于表单呈现数据,另一部分是单据数据,用于后台进行数据处理,一般由呈现数据进行处理后得到
        return {
            layoutData: app.currentItem,
            sheetData: sheetData
        };
    }
</script>