<style>
    .el-select .el-input__inner {
        padding-right: 15px;
    }
</style>
<div id="app" v-cloak>    
    <template v-if="_formOption.mode!=='print'">
        <div id="normal">
            <el-form ref="form" label-width="120px" size="mini" :inline="_formOption.readonly">
                <el-form-item label="调出账号:">
                    <el-select v-model="currentItem.outAccountId" size="mini" v-if="!_formOption.readonly">
                        <el-option v-for="(item,index) in currentItem.accounts" :label="item.name" :value="item.id"></el-option>
                    </el-select>
                    <template v-else>
                        {{outAccountName}}
                    </template>
                </el-form-item>
                <el-form-item label="调入账号:">
                    <el-select v-model="currentItem.inAccountId" size="mini" v-if="!_formOption.readonly">
                        <el-option v-for="(item,index) in currentItem.accounts" :label="item.name" :value="item.id"></el-option>
                    </el-select>
                    <template v-else>
                        {{inAccountName}}
                    </template>
                </el-form-item>
                <el-form-item label="发生日期:">
                    <el-date-picker type="date" placeholder="选择日期" v-model="currentItem.sheetDate" v-if="!_formOption.readonly"></el-date-picker>
                    <template v-else>
                        {{currentItem.sheetDate}}
                    </template>
                </el-form-item>
                <el-form-item label="调拨金额:">
                    <numberinput v-model="currentItem.fee" type="number" v-if="!_formOption.readonly"></numberinput>
                    <template v-else>
                        {{numFormat(currentItem.fee)}}
                    </template>
                </el-form-item>

                <el-form-item label="备注:">
                    <el-input type="textarea" v-model="currentItem.remarks" v-if="!_formOption.readonly"></el-input>
                    <template v-else>
                        {{currentItem.remarks}}
                    </template>
                </el-form-item>
            </el-form>
        </div>
        
    </template>
    <template >
        <div id="print">
            <p class="content-right">存根联—白色&nbsp; &nbsp; &nbsp; &nbsp; 客户联—红色&nbsp; &nbsp; &nbsp; &nbsp; 记账联—黄色</p>
            <div class="content-left">
                <h1>上海乾封贸易有限公司（账户调拨单）</h1>
                <table id="table2" cellspacing="0">

                    <tr>
                        <td class="tx-c weight-font">调拨单号:</td>
                        <td class="tx-l">{{sheetInfo.sheetSN}}</td>
                        <td class="tx-c weight-font">制单日期:</td>
                        <td class="tx-l">{{new Date(sheetInfo.creationTime).pattern('yyyy-MM-dd')}}</td>
                        <td class="tx-c weight-font">经办人:</td>
                        <td class="tx-l">{{sheetInfo.creatorUserName}}</td>
                    </tr>
                    <tr>
                        <td class="tx-c weight-font">调出账号:</td>
                        <td class="tx-l">{{outAccountName}}</td>
                        <td class="tx-c weight-font">调入账号:</td>
                        <td class="tx-l">{{inAccountName}}</td>
                        <td class="tx-c weight-font">发生日期:</td>
                        <td class="tx-l">{{currentItem.sheetDate}}</td>
                    </tr>

                    <tr >
                        <td class="tx-c weight-font">调拨金额:</td>
                        <td class="tx-l" colspan="5">{{numFormat(currentItem.fee)}}</td>
                    </tr>
                    <tr>
                        <td class="tx-c weight-font">备注:</td>
                        <td class="tx-l" colspan="5">{{currentItem.remarks}}</td>
                    </tr>
                </table>
                <p class="total-wrap weight-font sign">
                    <span style="margin-right:30px;">签名：</span>
                </p>
            </div>

        </div>
    </template>
</div>
<script>
    config.ready = function () {
        app = new Vue({
            el: "#app",
            data: {
                sheetInfo: {},
                currentItem: _formOption.formData ? _formOption.formData.layoutData : {
                    sheetDate: new Date().pattern("yyyy-MM-dd"),
                    fee: 0,
                    accounts: [],
                    inAccountId: null,
                    outAccountId:null,
                    remarks: '',
                },

            },
            computed: {
                inAccountName: function () {
                    var that = this;
                    var account = this.currentItem.accounts.filter(function (o) { return o.id == that.currentItem.inAccountId })[0];
                    return account!=null?account.name:'';
                },
                outAccountName: function () {
                    var that = this;
                    var account = this.currentItem.accounts.filter(function (o) { return o.id == that.currentItem.outAccountId })[0];
                    return account!=null?account.name:'';
                }
            },
            methods: {
            },
            created:function() {
                var that = this;
                if (!_formOption.formData) {
                    //录入模式获取数据                    
                    //获取所有账号
                    abp.services.app.feeAccount.getAllAccounts().done(function (data) {
                        that.currentItem.accounts = data;
                    })
                }
            },
        })
    }

    //模板中必须实现的方法，用于获取表单数据，返回一个对象，如果需要取消提交，可抛出一个异常
    function getFormData() {
        if (!app.currentItem.inAccountId || !app.currentItem.outAccountId) {
            throw "请先选择调入账号和调出账号";
        }
        if (app.currentItem.inAccountId == app.currentItem.outAccountId) {
            throw "调入账号不能与调出账号相同";
        }
        if (app.currentItem.fee<= 0) {
            throw "调拨金额必须大于0";
        }
        var sheetData = {
            header: {
                sheetDate: app.currentItem.sheetDate,
                remarks: app.currentItem.remarks,
                inAccountId: app.currentItem.inAccountId,
                outAccountId: app.currentItem.outAccountId,
                fee: app.currentItem.fee,
            },
            body: {}
        };
        //约定，formData由两部分组成,一为layoutData,即用于表单呈现数据,另一部分是单据数据,用于后台进行数据处理,一般由呈现数据进行处理后得到
        return {
            layoutData: app.currentItem,
            sheetData: sheetData
        };
    }
</script>