<div id="app" v-cloak>
    <el-form :inline="true" size="mini" v-if="!_formOption.readonly">
        <el-form-item label="供货商">
            <unit-select nature="1" :unit.sync="currentItem.unitId" :value-isid="true" size="mini" @change="refreshData"></unit-select>
        </el-form-item>
        <el-form-item label="采购入库时间">
            <el-date-picker type="date" placeholder="选择日期" v-model="currentItem.startDate" @change="refreshData"></el-date-picker>~至今
        </el-form-item>
    </el-form>
    <el-divider></el-divider>
    <el-form :inline="true" size="mini">
        <el-form-item label="退货仓库">
            <el-select v-model="currentItem.storeId" placeholder="退货仓库" size="medium" style="width:120px">
                <el-option v-for="item in currentItem.stores"
                           :key="item.id"
                           :label="item.name"
                           :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
    </el-form>
    <table class="layui-table">
        <thead>
            <tr>
                <th>品名</th>
                <th>规格</th>
                <th>市场单价</th>
                <th>采购总数量</th>
                <th>已退数量</th>
                <th>本次退货数量</th>
                <th>退货折扣</th>
                <th>退货单价</th>
                <th>金额小计</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item,index) in currentItem.items">
                <td>{{item.name}}</td>
                <td>{{item.specification}}</td>
                <td>{{item.price}}</td>
                <td>{{item.buyNumber}}</td>
                <td>{{item.backNumber}}</td>
                <td><el-input-number v-model="item.number" min="0" :max="item.buyNumber-item.backNumber" label="退货数量"></el-input-number></td>
                <td>
                    <el-input-number v-model="item.discount" :precision="2" :step="0.1" :max="1" :min="0"></el-input-number></td>
                <td>{{(item.price*item.discount).toFixed(2)}}</td>
                <td>
                    {{item.number*item.price*item.discount||''}}
                </td>
            </tr>
        </tbody>
    </table>
    <el-form :inline="true" size="mini">
        <el-form-item label="货款总额">
            <el-input v-model="materialFee" readonly="true"></el-input>
        </el-form-item>
        <el-form-item label="其它费用">
            <el-input v-model="currentItem.otherFee" typeof="number"></el-input>
        </el-form-item>
        <el-form-item label="本单应收金额">
            <el-input v-model="totalFee" readonly="true"></el-input>
        </el-form-item>

    </el-form>
    <el-form size="mini">
        <el-form-item label="备注">
            <el-input type="textarea" v-model="currentItem.remarks"></el-input>
        </el-form-item>
    </el-form>

</div>
<script>
    config.ready = function () {
        app = new Vue({
            el: "#app",
            data: {
                sheetInfo: {},
                columns:[],          
                currentItem: _formOption.formData ? _formOption.formData.layoutData : {
                    startDate: new Date().addDay(-3, 'm', "yyyy-MM-dd",),
                    stores:[],
                    sheetDate: new Date().pattern("yyyy-MM-dd"),
                    storeName: '',
                    unitName:'',
                    storeId: null,
                    unitId: null,
                    unitInfo: {},
                    items: [],
                    remarks: '',
                    otherFee:0
                }
            },
            computed: {
                materialFee: function () {
                    var fee = 0;
                    this.currentItem.items.forEach(o => fee += o.price * o.number*o.discount||0);
                    return fee.toFixed(2);
                },
                totalFee: function () {
                    return (parseFloat(this.materialFee) + parseFloat(this.currentItem.otherFee)).toFixed(2);
                }
            },
            methods: {
                refreshData() {
                    var that = this;
                    if (!this.currentItem.unitId || !this.currentItem.startDate) {
                        return;
                    }
                    func.runAsync(abp.services.app.materialBuy.getUnitBuyedMaterial(this.currentItem.unitId, this.currentItem.startDate).done(res => {
                        
                        this.currentItem.items = res;
                    }))
                    //获取往来单位信息
                    func.runAsync(abp.services.app.unit.getById(this.currentItem.unitId).done(function (data) {
                        that.currentItem.unitInfo = data;
                    }))
                }
            },
            created() {
                var that = this;
                if (!_formOption.formData) {
                    //录入模式获取数据
                    //仓库信息
                    var that = this;
                    abp.services.app.store.getAllStores().done(function (data) {
                        that.currentItem.stores = data;
                    })
                } else {
                    //移除没有退库的
                    this.currentItem.items = this.currentItem.items.filter(function (o) {
                        return o.number && o.number > 0;
                    })
                }
            },
            mounted() {
            }
        })
    }

    //模板中必须实现的方法，用于获取表单数据，返回一个对象，如果需要取消提交，可抛出一个异常
    function getFormData() {
        var data = app.currentItem.items;
        if (!app.currentItem.unitId) {
            throw "请选择供货商";
        }
        if (!app.currentItem.storeId) {
            throw "请选择退货仓库";
        }
        if (!data.length) {
            throw "请至少录入一条数据";
        }
        var sheetData = {
            header: {
                sheetDate: app.currentItem.sheetDate,
                remarks: app.currentItem.remarks,
                unitId: app.currentItem.unitId,
                storeId: app.currentItem.storeId,
                storeName: app.currentItem.stores.filter(o => o.id == app.currentItem.storeId)[0].name,
                totalFee: app.totalFee
            },
            body: data
        };
        //约定，formData由两部分组成,一为layoutData,即用于表单呈现数据,另一部分是单据数据,用于后台进行数据处理,一般由呈现数据进行处理后得到
        return {
            layoutData: app.currentItem,
            sheetData: sheetData
        };
    }
</script>